body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u4847_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:944px;
  background:inherit;
  background-color:rgba(4, 7, 24, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4847 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:944px;
  display:flex;
}
#u4847 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4847_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4848 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4849_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u4849 {
  border-width:0px;
  position:absolute;
  left:295px;
  top:909px;
  width:12px;
  height:12px;
  display:flex;
  font-family:'Font Awesome 5 Pro ', 'Font Awesome 5 Pro', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u4849 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4849_img.selected {
}
#u4849.selected {
}
#u4849_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4850_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u4850 {
  border-width:0px;
  position:absolute;
  left:313px;
  top:909px;
  width:12px;
  height:12px;
  display:flex;
  font-family:'Font Awesome 5 Pro ', 'Font Awesome 5 Pro', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u4850 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4850_img.selected {
}
#u4850.selected {
}
#u4850_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4851_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u4851 {
  border-width:0px;
  position:absolute;
  left:331px;
  top:909px;
  width:12px;
  height:12px;
  display:flex;
  font-family:'Font Awesome 5 Pro ', 'Font Awesome 5 Pro', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u4851 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4851_img.selected {
}
#u4851.selected {
}
#u4851_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4852 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:638px;
  height:944px;
}
#u4852_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:638px;
  height:944px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4852_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4853_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:638px;
  height:946px;
}
#u4853 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:638px;
  height:946px;
  display:flex;
}
#u4853 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4853_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4854_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:638px;
  height:946px;
  background:inherit;
  background-color:rgba(51, 51, 51, 0.698039215686274);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4854 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:638px;
  height:946px;
  display:flex;
}
#u4854 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4854_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4855_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:638px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Light', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:250;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u4855 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:426px;
  width:638px;
  height:80px;
  display:flex;
  font-family:'微软雅黑 Light', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:250;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u4855 .text {
  position:absolute;
  align-self:center;
  padding:2px 25px 2px 25px;
  box-sizing:border-box;
  width:100%;
}
#u4855_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4856_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:638px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u4856 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:380px;
  width:638px;
  height:56px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u4856 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4856_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4852_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:638px;
  height:944px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u4852_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4857_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:638px;
  height:946px;
}
#u4857 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:638px;
  height:946px;
  display:flex;
}
#u4857 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4857_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4858_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:638px;
  height:946px;
  background:inherit;
  background-color:rgba(51, 51, 51, 0.698039215686274);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4858 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:638px;
  height:946px;
  display:flex;
}
#u4858 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4858_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4859_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:638px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u4859 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:360px;
  width:638px;
  height:56px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u4859 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4859_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4860_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:638px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Light', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:250;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u4860 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:416px;
  width:638px;
  height:80px;
  display:flex;
  font-family:'微软雅黑 Light', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:250;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u4860 .text {
  position:absolute;
  align-self:center;
  padding:2px 25px 2px 25px;
  box-sizing:border-box;
  width:100%;
}
#u4860_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4852_state2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:638px;
  height:944px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u4852_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4861_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:638px;
  height:946px;
}
#u4861 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:638px;
  height:946px;
  display:flex;
}
#u4861 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4861_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4862_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:638px;
  height:946px;
  background:inherit;
  background-color:rgba(51, 51, 51, 0.698039215686274);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4862 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:638px;
  height:946px;
  display:flex;
}
#u4862 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4862_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4863_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:638px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Light', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:250;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u4863 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:426px;
  width:638px;
  height:80px;
  display:flex;
  font-family:'微软雅黑 Light', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:250;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u4863 .text {
  position:absolute;
  align-self:center;
  padding:2px 25px 2px 25px;
  box-sizing:border-box;
  width:100%;
}
#u4863_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4864_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:638px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u4864 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:380px;
  width:638px;
  height:56px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u4864 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4864_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4865_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u4865 {
  border-width:0px;
  position:absolute;
  left:1008px;
  top:257px;
  width:256px;
  height:37px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u4865 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4865_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4866_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1054px;
  height:57px;
  background:inherit;
  background-color:rgba(4, 7, 24, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:left;
}
#u4866 {
  border-width:0px;
  position:absolute;
  left:703px;
  top:376px;
  width:1054px;
  height:57px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:left;
}
#u4866 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 100px;
  box-sizing:border-box;
  width:100%;
}
#u4866_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4867_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1054px;
  height:57px;
  background:inherit;
  background-color:rgba(4, 7, 24, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u4867 {
  border-width:0px;
  position:absolute;
  left:703px;
  top:433px;
  width:1054px;
  height:57px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u4867 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 100px;
  box-sizing:border-box;
  width:100%;
}
#u4867_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4868 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4869_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:36px;
  background:inherit;
  background-color:rgba(4, 7, 24, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(220, 223, 230, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u4869 {
  border-width:0px;
  position:absolute;
  left:803px;
  top:546px;
  width:338px;
  height:36px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u4869 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4869_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:36px;
  background:inherit;
  background-color:rgba(4, 7, 24, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(192, 196, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u4869.mouseOver {
}
#u4869_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:36px;
  background:inherit;
  background-color:rgba(4, 7, 24, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(64, 158, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u4869.selected {
}
#u4869_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4870_input {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:28px;
  padding:2px 2px 2px 2px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#FFFFFF;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u4870_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:28px;
  padding:2px 2px 2px 2px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#FFFFFF;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u4870_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:28px;
  background:inherit;
  background-color:rgba(4, 7, 24, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u4870 {
  border-width:0px;
  position:absolute;
  left:809px;
  top:550px;
  width:325px;
  height:28px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u4870 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4870_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:28px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u4870.disabled {
}
#u4871 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4872_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:36px;
  background:inherit;
  background-color:rgba(4, 7, 24, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(220, 223, 230, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u4872 {
  border-width:0px;
  position:absolute;
  left:1167px;
  top:546px;
  width:338px;
  height:36px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u4872 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4872_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:36px;
  background:inherit;
  background-color:rgba(4, 7, 24, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(192, 196, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u4872.mouseOver {
}
#u4872_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:36px;
  background:inherit;
  background-color:rgba(4, 7, 24, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(64, 158, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u4872.selected {
}
#u4872_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4873_input {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:28px;
  padding:2px 2px 2px 2px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#FFFFFF;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u4873_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:28px;
  padding:2px 2px 2px 2px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#FFFFFF;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u4873_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:28px;
  background:inherit;
  background-color:rgba(4, 7, 24, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u4873 {
  border-width:0px;
  position:absolute;
  left:1174px;
  top:550px;
  width:325px;
  height:28px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u4873 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4873_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:28px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u4873.disabled {
}
#u4874 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4875_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
  background:inherit;
  background-color:rgba(4, 7, 24, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u4875 {
  border-width:0px;
  position:absolute;
  left:808px;
  top:599px;
  width:16px;
  height:16px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u4875 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4875_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4876_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
  background:inherit;
  background-color:rgba(4, 7, 24, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u4876 {
  border-width:0px;
  position:absolute;
  left:812px;
  top:603px;
  width:8px;
  height:8px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u4876 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4876_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4877_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:16px;
  background:inherit;
  background-color:rgba(4, 7, 24, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u4877 {
  border-width:0px;
  position:absolute;
  left:832px;
  top:599px;
  width:72px;
  height:16px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u4877 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4877_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4878_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:35px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u4878 {
  border-width:0px;
  position:absolute;
  left:1411px;
  top:664px;
  width:94px;
  height:35px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u4878 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4878_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:35px;
  background:inherit;
  background-color:rgba(54, 127, 169, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u4878.mouseOver {
}
#u4878_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4879_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:16px;
  background:inherit;
  background-color:rgba(4, 7, 24, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u4879 {
  border-width:0px;
  position:absolute;
  left:803px;
  top:520px;
  width:72px;
  height:16px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u4879 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4879_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4880_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:16px;
  background:inherit;
  background-color:rgba(4, 7, 24, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u4880 {
  border-width:0px;
  position:absolute;
  left:1167px;
  top:520px;
  width:72px;
  height:16px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u4880 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4880_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
