body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1782px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u811_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1782px;
  height:1056px;
  background:inherit;
  background-color:rgba(4, 7, 24, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u811 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1782px;
  height:1056px;
  display:flex;
}
#u811 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u811_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u812 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u813 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u814 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:236px;
  width:1727px;
  height:64px;
}
#u815_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:64px;
}
#u815 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:64px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:rgba(255, 255, 255, 0.8);
}
#u815 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u815_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u816_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:64px;
}
#u816 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:0px;
  width:246px;
  height:64px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:rgba(255, 255, 255, 0.8);
}
#u816 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u816_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u817_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:64px;
}
#u817 {
  border-width:0px;
  position:absolute;
  left:496px;
  top:0px;
  width:248px;
  height:64px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:rgba(255, 255, 255, 0.8);
}
#u817 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u817_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u818_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:64px;
}
#u818 {
  border-width:0px;
  position:absolute;
  left:744px;
  top:0px;
  width:242px;
  height:64px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:rgba(255, 255, 255, 0.8);
}
#u818 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u818_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u819_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:64px;
}
#u819 {
  border-width:0px;
  position:absolute;
  left:986px;
  top:0px;
  width:247px;
  height:64px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:rgba(255, 255, 255, 0.8);
}
#u819 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u819_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u820_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:64px;
}
#u820 {
  border-width:0px;
  position:absolute;
  left:1233px;
  top:0px;
  width:247px;
  height:64px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:rgba(255, 255, 255, 0.8);
}
#u820 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u820_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u821_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:64px;
}
#u821 {
  border-width:0px;
  position:absolute;
  left:1480px;
  top:0px;
  width:247px;
  height:64px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:rgba(255, 255, 255, 0.8);
}
#u821 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u821_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u822 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:302px;
  width:1726px;
  height:328px;
}
#u823_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:40px;
}
#u823 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:40px;
  display:flex;
  font-size:16px;
  color:rgba(255, 255, 255, 0.8);
}
#u823 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u823_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u824_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:40px;
}
#u824 {
  border-width:0px;
  position:absolute;
  left:247px;
  top:0px;
  width:247px;
  height:40px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(255, 255, 255, 0.8);
}
#u824 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u824_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u825_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:40px;
}
#u825 {
  border-width:0px;
  position:absolute;
  left:494px;
  top:0px;
  width:247px;
  height:40px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(255, 255, 255, 0.8);
}
#u825 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u825_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u826_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:40px;
}
#u826 {
  border-width:0px;
  position:absolute;
  left:741px;
  top:0px;
  width:247px;
  height:40px;
  display:flex;
  font-size:16px;
  color:rgba(255, 255, 255, 0.8);
}
#u826 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u826_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u827_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:40px;
}
#u827 {
  border-width:0px;
  position:absolute;
  left:988px;
  top:0px;
  width:247px;
  height:40px;
  display:flex;
  font-size:16px;
  color:rgba(255, 255, 255, 0.8);
}
#u827 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u827_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u828_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:40px;
}
#u828 {
  border-width:0px;
  position:absolute;
  left:1235px;
  top:0px;
  width:247px;
  height:40px;
  display:flex;
  font-size:16px;
  color:rgba(255, 255, 255, 0.8);
}
#u828 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u828_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u829_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:40px;
}
#u829 {
  border-width:0px;
  position:absolute;
  left:1482px;
  top:0px;
  width:244px;
  height:40px;
  display:flex;
  font-size:16px;
  color:rgba(255, 255, 255, 0.8);
}
#u829 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u829_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u830_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:40px;
}
#u830 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:247px;
  height:40px;
  display:flex;
  font-size:16px;
  color:rgba(255, 255, 255, 0.8);
}
#u830 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u830_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u831_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:40px;
}
#u831 {
  border-width:0px;
  position:absolute;
  left:247px;
  top:40px;
  width:247px;
  height:40px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(255, 255, 255, 0.8);
}
#u831 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u831_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u832_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:40px;
}
#u832 {
  border-width:0px;
  position:absolute;
  left:494px;
  top:40px;
  width:247px;
  height:40px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(255, 255, 255, 0.8);
}
#u832 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u832_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u833_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:40px;
}
#u833 {
  border-width:0px;
  position:absolute;
  left:741px;
  top:40px;
  width:247px;
  height:40px;
  display:flex;
  font-size:16px;
  color:rgba(255, 255, 255, 0.8);
}
#u833 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u833_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u834_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:40px;
}
#u834 {
  border-width:0px;
  position:absolute;
  left:988px;
  top:40px;
  width:247px;
  height:40px;
  display:flex;
  font-size:16px;
  color:rgba(255, 255, 255, 0.8);
}
#u834 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u834_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u835_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:40px;
}
#u835 {
  border-width:0px;
  position:absolute;
  left:1235px;
  top:40px;
  width:247px;
  height:40px;
  display:flex;
  font-size:16px;
  color:rgba(255, 255, 255, 0.8);
}
#u835 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u835_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u836_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:40px;
}
#u836 {
  border-width:0px;
  position:absolute;
  left:1482px;
  top:40px;
  width:244px;
  height:40px;
  display:flex;
  font-size:16px;
  color:rgba(255, 255, 255, 0.8);
}
#u836 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u836_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u837_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:40px;
}
#u837 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:80px;
  width:247px;
  height:40px;
  display:flex;
  font-size:16px;
  color:rgba(255, 255, 255, 0.8);
}
#u837 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u837_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u838_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:40px;
}
#u838 {
  border-width:0px;
  position:absolute;
  left:247px;
  top:80px;
  width:247px;
  height:40px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(255, 255, 255, 0.8);
}
#u838 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u838_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u839_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:40px;
}
#u839 {
  border-width:0px;
  position:absolute;
  left:494px;
  top:80px;
  width:247px;
  height:40px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(255, 255, 255, 0.8);
}
#u839 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u839_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u840_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:40px;
}
#u840 {
  border-width:0px;
  position:absolute;
  left:741px;
  top:80px;
  width:247px;
  height:40px;
  display:flex;
  font-size:16px;
  color:rgba(255, 255, 255, 0.8);
}
#u840 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u840_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u841_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:40px;
}
#u841 {
  border-width:0px;
  position:absolute;
  left:988px;
  top:80px;
  width:247px;
  height:40px;
  display:flex;
  font-size:16px;
  color:rgba(255, 255, 255, 0.8);
}
#u841 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u841_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u842_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:40px;
}
#u842 {
  border-width:0px;
  position:absolute;
  left:1235px;
  top:80px;
  width:247px;
  height:40px;
  display:flex;
  font-size:16px;
  color:rgba(255, 255, 255, 0.8);
}
#u842 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u842_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u843_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:40px;
}
#u843 {
  border-width:0px;
  position:absolute;
  left:1482px;
  top:80px;
  width:244px;
  height:40px;
  display:flex;
  font-size:16px;
  color:rgba(255, 255, 255, 0.8);
}
#u843 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u843_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u844_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:40px;
}
#u844 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:247px;
  height:40px;
  display:flex;
  font-size:16px;
  color:rgba(255, 255, 255, 0.8);
}
#u844 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u844_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u845_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:40px;
}
#u845 {
  border-width:0px;
  position:absolute;
  left:247px;
  top:120px;
  width:247px;
  height:40px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(255, 255, 255, 0.8);
}
#u845 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u845_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u846_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:40px;
}
#u846 {
  border-width:0px;
  position:absolute;
  left:494px;
  top:120px;
  width:247px;
  height:40px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(255, 255, 255, 0.8);
}
#u846 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u846_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u847_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:40px;
}
#u847 {
  border-width:0px;
  position:absolute;
  left:741px;
  top:120px;
  width:247px;
  height:40px;
  display:flex;
  font-size:16px;
  color:rgba(255, 255, 255, 0.8);
}
#u847 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u847_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u848_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:40px;
}
#u848 {
  border-width:0px;
  position:absolute;
  left:988px;
  top:120px;
  width:247px;
  height:40px;
  display:flex;
  font-size:16px;
  color:rgba(255, 255, 255, 0.8);
}
#u848 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u848_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u849_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:40px;
}
#u849 {
  border-width:0px;
  position:absolute;
  left:1235px;
  top:120px;
  width:247px;
  height:40px;
  display:flex;
  font-size:16px;
  color:rgba(255, 255, 255, 0.8);
}
#u849 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u849_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u850_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:40px;
}
#u850 {
  border-width:0px;
  position:absolute;
  left:1482px;
  top:120px;
  width:244px;
  height:40px;
  display:flex;
  font-size:16px;
  color:rgba(255, 255, 255, 0.8);
}
#u850 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u850_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u851_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:40px;
}
#u851 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:160px;
  width:247px;
  height:40px;
  display:flex;
  font-size:16px;
  color:rgba(255, 255, 255, 0.8);
}
#u851 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u851_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u852_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:40px;
}
#u852 {
  border-width:0px;
  position:absolute;
  left:247px;
  top:160px;
  width:247px;
  height:40px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(255, 255, 255, 0.8);
}
#u852 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u852_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u853_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:40px;
}
#u853 {
  border-width:0px;
  position:absolute;
  left:494px;
  top:160px;
  width:247px;
  height:40px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(255, 255, 255, 0.8);
}
#u853 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u853_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u854_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:40px;
}
#u854 {
  border-width:0px;
  position:absolute;
  left:741px;
  top:160px;
  width:247px;
  height:40px;
  display:flex;
  font-size:16px;
  color:rgba(255, 255, 255, 0.8);
}
#u854 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u854_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u855_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:40px;
}
#u855 {
  border-width:0px;
  position:absolute;
  left:988px;
  top:160px;
  width:247px;
  height:40px;
  display:flex;
  font-size:16px;
  color:rgba(255, 255, 255, 0.8);
}
#u855 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u855_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u856_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:40px;
}
#u856 {
  border-width:0px;
  position:absolute;
  left:1235px;
  top:160px;
  width:247px;
  height:40px;
  display:flex;
  font-size:16px;
  color:rgba(255, 255, 255, 0.8);
}
#u856 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u856_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u857_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:40px;
}
#u857 {
  border-width:0px;
  position:absolute;
  left:1482px;
  top:160px;
  width:244px;
  height:40px;
  display:flex;
  font-size:16px;
  color:rgba(255, 255, 255, 0.8);
}
#u857 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u857_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u858_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:40px;
}
#u858 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:200px;
  width:247px;
  height:40px;
  display:flex;
  font-size:16px;
  color:rgba(255, 255, 255, 0.8);
}
#u858 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u858_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u859_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:40px;
}
#u859 {
  border-width:0px;
  position:absolute;
  left:247px;
  top:200px;
  width:247px;
  height:40px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(255, 255, 255, 0.8);
}
#u859 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u859_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u860_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:40px;
}
#u860 {
  border-width:0px;
  position:absolute;
  left:494px;
  top:200px;
  width:247px;
  height:40px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(255, 255, 255, 0.8);
}
#u860 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u860_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u861_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:40px;
}
#u861 {
  border-width:0px;
  position:absolute;
  left:741px;
  top:200px;
  width:247px;
  height:40px;
  display:flex;
  font-size:16px;
  color:rgba(255, 255, 255, 0.8);
}
#u861 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u861_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u862_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:40px;
}
#u862 {
  border-width:0px;
  position:absolute;
  left:988px;
  top:200px;
  width:247px;
  height:40px;
  display:flex;
  font-size:16px;
  color:rgba(255, 255, 255, 0.8);
}
#u862 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u862_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u863_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:40px;
}
#u863 {
  border-width:0px;
  position:absolute;
  left:1235px;
  top:200px;
  width:247px;
  height:40px;
  display:flex;
  font-size:16px;
  color:rgba(255, 255, 255, 0.8);
}
#u863 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u863_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u864_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:40px;
}
#u864 {
  border-width:0px;
  position:absolute;
  left:1482px;
  top:200px;
  width:244px;
  height:40px;
  display:flex;
  font-size:16px;
  color:rgba(255, 255, 255, 0.8);
}
#u864 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u864_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u865_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:40px;
}
#u865 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:240px;
  width:247px;
  height:40px;
  display:flex;
  font-size:16px;
  color:rgba(255, 255, 255, 0.8);
}
#u865 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u865_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u866_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:40px;
}
#u866 {
  border-width:0px;
  position:absolute;
  left:247px;
  top:240px;
  width:247px;
  height:40px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(255, 255, 255, 0.8);
}
#u866 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u866_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u867_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:40px;
}
#u867 {
  border-width:0px;
  position:absolute;
  left:494px;
  top:240px;
  width:247px;
  height:40px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(255, 255, 255, 0.8);
}
#u867 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u867_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u868_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:40px;
}
#u868 {
  border-width:0px;
  position:absolute;
  left:741px;
  top:240px;
  width:247px;
  height:40px;
  display:flex;
  font-size:16px;
  color:rgba(255, 255, 255, 0.8);
}
#u868 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u868_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u869_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:40px;
}
#u869 {
  border-width:0px;
  position:absolute;
  left:988px;
  top:240px;
  width:247px;
  height:40px;
  display:flex;
  font-size:16px;
  color:rgba(255, 255, 255, 0.8);
}
#u869 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u869_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u870_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:40px;
}
#u870 {
  border-width:0px;
  position:absolute;
  left:1235px;
  top:240px;
  width:247px;
  height:40px;
  display:flex;
  font-size:16px;
  color:rgba(255, 255, 255, 0.8);
}
#u870 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u870_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u871_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:40px;
}
#u871 {
  border-width:0px;
  position:absolute;
  left:1482px;
  top:240px;
  width:244px;
  height:40px;
  display:flex;
  font-size:16px;
  color:rgba(255, 255, 255, 0.8);
}
#u871 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u871_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u872_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:48px;
}
#u872 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:280px;
  width:247px;
  height:48px;
  display:flex;
  font-size:16px;
  color:rgba(255, 255, 255, 0.8);
}
#u872 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u872_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u873_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:48px;
}
#u873 {
  border-width:0px;
  position:absolute;
  left:247px;
  top:280px;
  width:247px;
  height:48px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(255, 255, 255, 0.8);
}
#u873 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u873_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u874_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:48px;
}
#u874 {
  border-width:0px;
  position:absolute;
  left:494px;
  top:280px;
  width:247px;
  height:48px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(255, 255, 255, 0.8);
}
#u874 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u874_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u875_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:48px;
}
#u875 {
  border-width:0px;
  position:absolute;
  left:741px;
  top:280px;
  width:247px;
  height:48px;
  display:flex;
  font-size:16px;
  color:rgba(255, 255, 255, 0.8);
}
#u875 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u875_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u876_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:48px;
}
#u876 {
  border-width:0px;
  position:absolute;
  left:988px;
  top:280px;
  width:247px;
  height:48px;
  display:flex;
  font-size:16px;
  color:rgba(255, 255, 255, 0.8);
}
#u876 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u876_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u877_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:48px;
}
#u877 {
  border-width:0px;
  position:absolute;
  left:1235px;
  top:280px;
  width:247px;
  height:48px;
  display:flex;
  font-size:16px;
  color:rgba(255, 255, 255, 0.8);
}
#u877 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u877_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u878_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:48px;
}
#u878 {
  border-width:0px;
  position:absolute;
  left:1482px;
  top:280px;
  width:244px;
  height:48px;
  display:flex;
  font-size:16px;
  color:rgba(255, 255, 255, 0.8);
}
#u878 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u878_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u879_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:39px;
  background:inherit;
  background-color:rgba(60, 141, 188, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u879 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:174px;
  width:73px;
  height:39px;
  display:flex;
  font-size:16px;
}
#u879 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u879_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:39px;
  background:inherit;
  background-color:rgba(54, 127, 169, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u879.mouseOver {
}
#u879_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u880_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:39px;
  background:inherit;
  background-color:rgba(60, 141, 188, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u880 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:174px;
  width:73px;
  height:39px;
  display:flex;
  font-size:16px;
}
#u880 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u880_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:39px;
  background:inherit;
  background-color:rgba(54, 127, 169, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u880.mouseOver {
}
#u880_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u881_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:39px;
  background:inherit;
  background-color:rgba(60, 141, 188, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u881 {
  border-width:0px;
  position:absolute;
  left:252px;
  top:174px;
  width:73px;
  height:39px;
  display:flex;
  font-size:16px;
}
#u881 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u881_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:39px;
  background:inherit;
  background-color:rgba(54, 127, 169, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u881.mouseOver {
}
#u881_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u882 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u883_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:96px;
}
#u883 {
  border-width:0px;
  position:absolute;
  left:617px;
  top:40px;
  width:236px;
  height:96px;
  display:flex;
}
#u883 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u883_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u884_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:96px;
}
#u884 {
  border-width:0px;
  position:absolute;
  left:544px;
  top:40px;
  width:100px;
  height:96px;
  display:flex;
}
#u884 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u884_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u885_img {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-50px;
  width:193px;
  height:189px;
}
#u885 {
  border-width:0px;
  position:absolute;
  left:547px;
  top:44px;
  width:93px;
  height:89px;
  display:flex;
}
#u885 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u885_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u886_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:50px;
}
#u886 {
  border-width:0px;
  position:absolute;
  left:571px;
  top:64px;
  width:46px;
  height:50px;
  display:flex;
  color:#FFFFFF;
}
#u886 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u886_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u887_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:19px;
  height:13px;
}
#u887 {
  border-width:0px;
  position:absolute;
  left:607px;
  top:40px;
  width:16px;
  height:10px;
  display:flex;
}
#u887 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u887_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u888_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:19px;
  height:12px;
}
#u888 {
  border-width:0px;
  position:absolute;
  left:631px;
  top:83px;
  width:16px;
  height:9px;
  display:flex;
  -webkit-transform:rotate(60deg);
  -moz-transform:rotate(60deg);
  -ms-transform:rotate(60deg);
  transform:rotate(60deg);
}
#u888 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u888_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u889_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:19px;
  height:12px;
}
#u889 {
  border-width:0px;
  position:absolute;
  left:565px;
  top:39px;
  width:16px;
  height:9px;
  display:flex;
  -webkit-transform:rotate(300deg);
  -moz-transform:rotate(300deg);
  -ms-transform:rotate(300deg);
  transform:rotate(300deg);
}
#u889 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u889_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u890_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:19px;
  height:12px;
}
#u890 {
  border-width:0px;
  position:absolute;
  left:541px;
  top:83px;
  width:16px;
  height:9px;
  display:flex;
  -webkit-transform:rotate(240deg);
  -moz-transform:rotate(240deg);
  -ms-transform:rotate(240deg);
  transform:rotate(240deg);
}
#u890 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u890_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u891_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:19px;
  height:13px;
}
#u891 {
  border-width:0px;
  position:absolute;
  left:565px;
  top:126px;
  width:16px;
  height:10px;
  display:flex;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u891 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u891_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u892_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:19px;
  height:12px;
}
#u892 {
  border-width:0px;
  position:absolute;
  left:607px;
  top:127px;
  width:16px;
  height:9px;
  display:flex;
  -webkit-transform:rotate(126deg);
  -moz-transform:rotate(126deg);
  -ms-transform:rotate(126deg);
  transform:rotate(126deg);
}
#u892 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u892_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u893 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u894_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:96px;
}
#u894 {
  border-width:0px;
  position:absolute;
  left:991px;
  top:37px;
  width:236px;
  height:96px;
  display:flex;
}
#u894 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u894_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u895_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:96px;
}
#u895 {
  border-width:0px;
  position:absolute;
  left:917px;
  top:37px;
  width:100px;
  height:96px;
  display:flex;
}
#u895 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u895_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u896_img {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-50px;
  width:193px;
  height:189px;
}
#u896 {
  border-width:0px;
  position:absolute;
  left:921px;
  top:41px;
  width:93px;
  height:89px;
  display:flex;
}
#u896 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u896_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u897_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:19px;
  height:13px;
}
#u897 {
  border-width:0px;
  position:absolute;
  left:980px;
  top:37px;
  width:16px;
  height:10px;
  display:flex;
}
#u897 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u897_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u898_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:19px;
  height:12px;
}
#u898 {
  border-width:0px;
  position:absolute;
  left:1005px;
  top:80px;
  width:16px;
  height:9px;
  display:flex;
  -webkit-transform:rotate(60deg);
  -moz-transform:rotate(60deg);
  -ms-transform:rotate(60deg);
  transform:rotate(60deg);
}
#u898 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u898_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u899_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:19px;
  height:12px;
}
#u899 {
  border-width:0px;
  position:absolute;
  left:938px;
  top:36px;
  width:16px;
  height:9px;
  display:flex;
  -webkit-transform:rotate(300deg);
  -moz-transform:rotate(300deg);
  -ms-transform:rotate(300deg);
  transform:rotate(300deg);
}
#u899 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u899_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u900_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:19px;
  height:12px;
}
#u900 {
  border-width:0px;
  position:absolute;
  left:914px;
  top:80px;
  width:16px;
  height:9px;
  display:flex;
  -webkit-transform:rotate(240deg);
  -moz-transform:rotate(240deg);
  -ms-transform:rotate(240deg);
  transform:rotate(240deg);
}
#u900 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u900_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u901_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:19px;
  height:13px;
}
#u901 {
  border-width:0px;
  position:absolute;
  left:938px;
  top:123px;
  width:16px;
  height:10px;
  display:flex;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u901 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u901_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u902_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:19px;
  height:12px;
}
#u902 {
  border-width:0px;
  position:absolute;
  left:979px;
  top:124px;
  width:16px;
  height:9px;
  display:flex;
  -webkit-transform:rotate(126deg);
  -moz-transform:rotate(126deg);
  -ms-transform:rotate(126deg);
  transform:rotate(126deg);
}
#u902 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u902_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u903_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#42F1FF;
}
#u903 {
  border-width:0px;
  position:absolute;
  left:673px;
  top:61px;
  width:90px;
  height:21px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#42F1FF;
}
#u903 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u903_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u904_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u904 {
  border-width:0px;
  position:absolute;
  left:673px;
  top:98px;
  width:43px;
  height:16px;
  display:flex;
  color:#FFFFFF;
}
#u904 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u904_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u905_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#42F1FF;
}
#u905 {
  border-width:0px;
  position:absolute;
  left:1047px;
  top:58px;
  width:90px;
  height:21px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#42F1FF;
}
#u905 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u905_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u906_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u906 {
  border-width:0px;
  position:absolute;
  left:1047px;
  top:95px;
  width:43px;
  height:16px;
  display:flex;
  color:#FFFFFF;
}
#u906 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u906_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u907 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u908_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:9px;
}
#u908 {
  border-width:0px;
  position:absolute;
  left:954px;
  top:79px;
  width:14px;
  height:9px;
  display:flex;
}
#u908 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u908_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u909_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:39px;
}
#u909 {
  border-width:0px;
  position:absolute;
  left:946px;
  top:66px;
  width:42px;
  height:39px;
  display:flex;
}
#u909 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u909_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u910_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(88, 193, 190, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
}
#u910 {
  border-width:0px;
  position:absolute;
  left:1585px;
  top:192px;
  width:82px;
  height:33px;
  display:flex;
  color:#FFFFFF;
  text-align:left;
}
#u910 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u910_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u911 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u912_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:20px;
}
#u912 {
  border-width:0px;
  position:absolute;
  left:1647px;
  top:198px;
  width:15px;
  height:20px;
  display:flex;
  text-align:left;
}
#u912 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u912_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u913_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:8px;
}
#u913 {
  border-width:0px;
  position:absolute;
  left:1649px;
  top:208px;
  width:10px;
  height:8px;
  display:flex;
  text-align:left;
}
#u913 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u913_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u914_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:39px;
  background:inherit;
  background-color:rgba(60, 141, 188, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u914 {
  border-width:0px;
  position:absolute;
  left:1688px;
  top:187px;
  width:73px;
  height:39px;
  display:flex;
  font-size:16px;
}
#u914 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u914_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:39px;
  background:inherit;
  background-color:rgba(54, 127, 169, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u914.mouseOver {
}
#u914_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
